 <aside aria-label="Sidebar navigation" style="top: 74px;">
    <nav class="nav-menu" role="navigation" aria-label="Main menu">
      <a href="index.html" class="active" aria-current="page">
        <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="18" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M3 12l7-7 7 7"></path><path d="M10 19v-8h4v8"></path></svg>
        Trang chủ
      </a>
      <div id="library-menu" tabindex="0" aria-expanded="false" aria-haspopup="true" aria-controls="library-submenu" role="button" class="flex items-center gap-3 cursor-pointer text-gray-400 hover:text-pink-600">
        <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="18" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h8l8 8v8a2 2 0 0 1-2 2z"></path></svg>
        Thư viện
        <svg id="arrow-down-icon" class="ml-auto transition-transform" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" width="16" height="16"><path d="M6 9l6 6 6-6"/></svg>
      </div>
      <div id="library-submenu" class="submenu" hidden>
        <a href="created-sets.html" tabindex="-1">Bộ câu hỏi đã tạo</a>
        <a href="#" tabindex="-1">Bộ câu hỏi đã lưu</a>
      </div>
      <a href="#" class="flex items-center gap-3 text-gray-400 hover:text-pink-600" tabindex="0">
        <svg fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"><path d="M12 21c-4-4-7-10-7-14a7 7 0 0 1 14 0c0 4-3 10-7 14z"></path></svg>
        Lịch sử chơi
      </a>
    </nav>
  </aside>